.button3 {
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 15px 32px;
  align-items: center;
  text-decoration: none;
  display: inline-flex; /* Use inline-flex instead of inline-block */
  justify-content: center; /* Center items horizontally */
  font-size: 16px;
  margin: 10px 20px;
  cursor: pointer;
  background-color: #684683; 
  color: white; 
  border: 2px solid #684683;
}


.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.captured-image-container {
  margin-top: 10px;
  text-align: center; /* Center the image on smaller screens */
}
.snack-bar-custom {
  font-size: 16px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.snack-bar-action {
  font-size: 14px;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .button-container {
      flex-direction: row;
      align-items: center;
  }
  .mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
    min-width: 302px !important;
    max-width: 672px;
}
::ng-deep .cam-window {
    width: 800px;
    height: 600px;
    
}
.mat-dialog-content{
  overflow-y: scroll;
}
::ng-deep .webcam-wrapper{
 width: 200%;
}

::ng-deep .cam-window .webcam-wrapper {
  height: 121%;
  width: 200%;
}

::ng-deep .cam-window video,
::ng-deep .cam-window canvas {
  height: 88%;
        width: 50%;
}


 
 
  .button3 {
     
      width: 38%;
        margin: 10px 10px;
        font-size: 13px;
        padding: 10px 10px;
  }

  .captured-image-container img {
      width: 100%; /* Make the image responsive */
      max-width: 300px; /* Set a maximum width */
      height: auto; /* Maintain aspect ratio */
  }
}
