.red-header {
    width: 100%;
    background: #DC143C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 50px;
}

.date-time-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.date, .time {
    margin-top: 0px;
    margin-right: 20px; /* Space between date and time */
}

img {
    margin: 5px 5px 5px 10px;
    padding: 1px;
    height: 40px;
}
